*,
*::after,
*::before {
  margin: 0;
  box-sizing: inherit;
  padding: 0;
}

html {
    // defines what one rem is
  font-size: 62.5%;  //1rem = 10px

//   @include respond(tab-land) {
//     font-size: 56.25% //1rem = 9px 9/16 = 56.25%
//   }
//   @include respond(tab-port) {
//     font-size: 50% //1rem = 8px 8/16 = 50% 
//   }
//   @include respond(big-desktop) {
//     font-size: 75% //1rem = 12 12/16 = 75%
//   }

@media only screen and (max-width: $bp-large){
    font-size: 50%;
}

}
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  /* font-size: 16px; */
  
  padding: 3rem;

//   @include respond(tab-port) {
//     padding: 0;
//   }

background-image: linear-gradient(to right bottom, rgba($color-black, 0.05), rgba($color-grey-dark-3, 0.05)), url('../img/bg.png');
background-size: cover;
}

::selection {
   background-color: rgba($color-black, 0.7);
   color: $color-white;
}