$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-white: #fff;
$color-black: #000;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-primary: #17b978;
$color-primary-light: #a7ff83;
$color-primary-dark: #086972;


$color-secondary-dark: #ff7730;

$bp-largest: 75em; 
$bp-large: 68.75em;
$bp-medium: 56.25em;
$bp-small: 37.5em;
$bp-smallest: 31.25em;